.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  font-family: "Silkscreen", cursive;
}

.textFill {
  background-color: #565656;
  font-family: "Silkscreen", cursive;
  font-size: calc(10px + 5vw);
  text-transform: uppercase;
  position: relative;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 5vw;
  font-family: "Silkscreen", cursive;
}

.textFill::before {
  content: attr(data-title);
  font-family: "Silkscreen", cursive;
  background: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0%;
  transition: all 1s ease-in-out;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation-name: name-animation;
  animation-duration: 4s;
}

@keyframes name-animation {
  0% {
    background-color: black;
    width: 0%;
  }
  10% {
    background-color: black;
    width: 10%;
  }
  20% {
    background-color: black;
    width: 20%;
  }
  30% {
    background-color: black;
    width: 30%;
  }
  40% {
    background-color: black;
    width: 40%;
  }
  50% {
    background-color: black;
    width: 50%;
  }
  60% {
    background-color: black;
    width: 60%;
  }
  70% {
    background-color: black;
    width: 70%;
  }
  80% {
    background-color: black;
    width: 80%;
  }
  90% {
    background-color: black;
    width: 90%;
  }
  100% {
    background-color: black;
    width: 100%;
  }
}
